numpy==1.26.4
transformers==4.57.3
tokenizers==0.22.2
huggingface-hub==0.36.0
safetensors==0.8.0
albumentations==1.4.18
diffusers==0.35.1
dm-tree==0.1.10
lmdb==1.7.5
msgpack==1.1.0
msgpack-numpy==0.4.8
pandas==2.2.3
peft==0.17.1
termcolor==3.2.0
datasets==3.6.0
einops==0.8.1
jsonlines==4.0.0
gymnasium==1.2.2
omegaconf==2.3.0
scipy==1.15.3
wandb==0.23.0
pyzmq==27.0.1
tyro==0.9.17
opencv-python-headless==4.11.0.86
pytz==2026.2
python-dateutil==2.9.0.post0
sentencepiece==0.2.1
torchcodec==0.12.0
av==19.0.0
draccus==0.10.0
